*
  box-sizing: border-box

body
  background-color: #212024

li
  list-style: none

.app-block
  margin: 20px
  min-height: 95vh
  font-family: 'Arial', sans-serif
  .main-page
    display: flex
    justify-content: center
    margin-left: -50px
