.film-list
  display: flex
  flex-direction: column
  margin: 0 auto
  width: 920px
  ul
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0
    width: 100%
    max-width: 1150px
    li
      margin-right: 20px
      margin-bottom: 20px
      list-style: none
  button
    width: 900px